{{- $name := dig "git" "name" "" . -}}
{{- $email := dig "git" "email" "" . -}}
{{- if or (eq $name "") (eq $email "") -}}
{{- fail "gitのname/emailが未設定です。`chezmoi init` で質問に回答するか、~/.config/chezmoi/chezmoi.toml に [data.git] を設定してください。" -}}
{{- end -}}

[user]
	name = {{ $name | quote }}
	email = {{ $email | quote }}

[includeIf "gitdir:~/Developer/ghq/global/github.com/shsw228/"]
	path = ~/.config/git/config-shsw228

{{- if not (dig "profile" "is_personal_pc" false .) }}

[core]
	sshCommand = ssh -o IdentityAgent=~/.1password-agent.sock -o IdentitiesOnly=yes -o IdentityFile=~/.ssh/github_work.pub
{{- end }}

[ghq]
	root = ~/Developer/ghq/global

[include]
	path = ~/.config/git/config.local
